// .img-center {margin:0 auto;}

// .img-responsive {
//      margin: 0 auto;
//  }

// .float {
//   float: right;
// }
.project__item{
  float: left;
}
#userContainer1, #userContainer2, #userContainer3{
  width:100%;
  height:300px;
  background: black;
}
@media only screen and (device-width : 375px) and (device-height : 812px) {

}
