.btn {
    text-align: center;
}
#dashboard_div {
    display: inline-block;
}

#filter_div {
    width: 300px; 
    height: 300px;
}

#piechart {
    width: 500px; 
    height: 500px;
}

#barchart {
    width: 500px; 
    height: 500px;
}

#dashboard_div {
    width: 900px; 
    height: 900px;
}